In [ ]:
%matplotlib inline

import pandas as pd # for using pandas daraframe
import numpy as np # for som math operations
from sklearn.preprocessing import StandardScaler # for standardizing the Data

import matplotlib.pyplot as plt # for plotting
from scipy import stats

In [ ]:
googledata1 = pd.read_csv('/content/data_table_for_daily_case_trends__the_united_states.csv', header=2)
googledata1['Date'] = pd.to_datetime(googledata1['Date'])
df2 = googledata1
start_date = '2021-10-1'
end_date = '2022-10-1'
mask = (df2['Date'] > start_date) & (df2['Date'] <= end_date)
  
df2 = df2.loc[mask]

df2_first = df2.head(n=274)
#df2_first.iloc[::-1]
dft = df2_first[::-1]

display(dft)

             State       Date  New Cases  7-Day Moving Avg  Historic Cases
274  United States 2022-01-01     303446            421265               0
273  United States 2022-01-02     417043            449674               0
272  United States 2022-01-03     909487            512789               0
271  United States 2022-01-04     740961            561784               0
270  United States 2022-01-05     718131            594512               0
..             ...        ...        ...               ...             ...
5    United States 2022-09-27      40163             50046               0
4    United States 2022-09-28      63763             47124           11753
3    United States 2022-09-29      89873             45737             621
2    United States 2022-09-30      46383             44698              71
1    United States 2022-10-01       8024             43334               0

[274 rows x 5 columns]

In [ ]:
dfn1 = pd.DataFrame()
l=[]

for count, column in enumerate(dft):    
    # Select column contents by column
    # name using [] operator
    if(count>1):
      columnSeriesObj = dft[column]
      columnSeriesObj[np.isnan(columnSeriesObj)] = 0
      dfn1.insert(count-2, column, columnSeriesObj.tolist(), True)
      l.append(columnSeriesObj.tolist())
      #print('Column Name : ', column)
      #print('Column Contents : ', columnSeriesObj.values)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
X1 = dfn1.values # getting all values as a matrix of dataframe 
sc = StandardScaler() # creating a StandardScaler object
X_std1 = sc.fit_transform(X1) # standardizing the data

In [ ]:
df = pd.read_csv('/content/2022_country_daily_2022_US_daily_symptoms_dataset.csv', index_col = 0)

In [ ]:
dfu = pd.read_csv('/content/2022_country_daily_2022_US_daily_symptoms_dataset.csv', index_col = 0)
dfu['date'] = pd.to_datetime(dfu['date'])

df_first = dfu.head(n=274)
display(df_first)

,country_region,sub_region_1,sub_region_1_code,sub_region_2,sub_region_2_code,place_id,date,symptom:Abdominal obesity,symptom:Abdominal pain,symptom:Acne,...,symptom:Wart,symptom:Water retention,symptom:Weakness,symptom:Weight gain,symptom:Wheeze,symptom:Xeroderma,symptom:Xerostomia,symptom:Yawn,symptom:hyperhidrosis,symptom:pancreatitis
country_region_code,,,,,,,,,,,,,,,,,,,,,
US,United States,NaN,NaN,NaN,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2022-01-01,1.97,4.63,7.05,...,1.00,0.23,0.35,2.80,0.29,2.36,0.39,0.15,0.46,0.32
US,United States,NaN,NaN,NaN,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2022-01-02,2.18,4.58,7.58,...,1.06,0.23,0.37,2.99,0.30,2.65,0.41,0.15,0.50,0.32
US,United States,NaN,NaN,NaN,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2022-01-03,2.04,4.45,7.08,...,1.07,0.21,0.40,3.06,0.30,2.43,0.41,0.14,0.47,0.34
US,United States,NaN,NaN,NaN,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2022-01-04,1.97,4.36,7.03,...,1.07,0.22,0.44,3.10,0.29,2.50,0.44,0.15,0.48,0.35
US,United States,NaN,NaN,NaN,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2022-01-05,1.91,4.29,6.91,...,1.08,0.23,0.44,3.06,0.29,2.46,0.44,0.15,0.47,0.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
US,United States,NaN,NaN,NaN,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2022-09-27,1.56,4.11,6.49,...,1.18,0.24,0.41,2.87,0.28,1.91,0.39,0.15,0.46,0.37
US,United States,NaN,NaN,NaN,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2022-09-28,1.48,3.93,6.30,...,1.15,0.23,0.40,2.72,0.27,1.86,0.38,0.15,0.44,0.35
US,United States,NaN,NaN,NaN,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2022-09-29,1.42,3.88,6.47,...,1.13,0.23,0.40,2.65,0.27,1.90,0.37,0.15,0.43,0.34
US,United States,NaN,NaN,NaN,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2022-09-30,1.24,3.74,6.05,...,1.08,0.20,0.34,2.42,0.25,1.84,0.36,0.15,0.39,0.33
US,United States,NaN,NaN,NaN,NaN,ChIJCzYy5IS16lQRQrfeQ5K5Oxw,2022-10-01,1.42,4.02,6.65,...,1.10,0.22,0.31,2.54,0.26,2.18,0.36,0.15,0.41,0.32

In [ ]:
dfn = pd.DataFrame()
l=[]

for count, column in enumerate(df_first):    
    # Select column contents by column
    # name using [] operator
    if(count>8):
      columnSeriesObj = df_first[column]
      columnSeriesObj[np.isnan(columnSeriesObj)] = 0
      dfn.insert(count-9, column, columnSeriesObj.tolist(), True)
      l.append(columnSeriesObj.tolist())
      #print('Column Name : ', column)
      #print('Column Contents : ', columnSeriesObj.values)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3249: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  if (await self.run_code(code, result,  async_=asy)):

In [ ]:
X = dfn.values # getting all values as a matrix of dataframe 
sc = StandardScaler() # creating a StandardScaler object
X_std = sc.fit_transform(X) # standardizing the data

In [ ]:
dfn.head()

,symptom:Acne,symptom:Actinic keratosis,symptom:Acute bronchitis,symptom:Adrenal crisis,symptom:Ageusia,symptom:Alcoholism,symptom:Allergic conjunctivitis,symptom:Allergy,symptom:Amblyopia,symptom:Amenorrhea,...,symptom:Wart,symptom:Water retention,symptom:Weakness,symptom:Weight gain,symptom:Wheeze,symptom:Xeroderma,symptom:Xerostomia,symptom:Yawn,symptom:hyperhidrosis,symptom:pancreatitis
0,7.05,0.31,0.65,0.08,0.33,5.08,0.05,10.79,0.15,0.09,...,1.00,0.23,0.35,2.80,0.29,2.36,0.39,0.15,0.46,0.32
1,7.58,0.43,0.68,0.08,0.31,4.16,0.05,10.72,0.15,0.10,...,1.06,0.23,0.37,2.99,0.30,2.65,0.41,0.15,0.50,0.32
2,7.08,0.50,0.71,0.09,0.27,3.97,0.05,11.33,0.18,0.11,...,1.07,0.21,0.40,3.06,0.30,2.43,0.41,0.14,0.47,0.34
3,7.03,0.43,0.72,0.09,0.27,3.85,0.05,11.79,0.20,0.12,...,1.07,0.22,0.44,3.10,0.29,2.50,0.44,0.15,0.48,0.35
4,6.91,0.36,0.70,0.09,0.27,3.77,0.05,11.58,0.19,0.12,...,1.08,0.23,0.44,3.06,0.29,2.46,0.44,0.15,0.47,0.35

In [ ]:
X_std.shape

(274, 420)

In [ ]:
corr_t =[]
valuesi = []
sim = [17, 2, 4, 57, 73, 82, 90, 111, 139, 174, 209, 238, 263, 307, 314] # Coluns from top correlated data.
zp = []


for j in sim:

  a = X_std1[:,0]
  b = X_std[:,j]

  colin = [] 
  z = 274
  for t in range(z): # vary t' from 1 to 34

    if(t>1) and (t<z+1):
      symp_a = b[:(z+1-(t))]
      ili_a  = a[t-1:z+1]
      res = stats.pearsonr(ili_a, np.nan_to_num(symp_a))
      colin.append(res) # Append all possible correlation for varying t
    
  arr1 = np.array(colin)
  zil = arr1.argmax(axis=0)
  zp.append(zil[0])
  
  corr_t.append(colin)

/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:4023: PearsonRConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(PearsonRConstantInputWarning())

In [ ]:
zp # best and logical lead times for Fever = 14 days, Cough = 7 days, Common cold = 6 days, Post-nasal drip = 15 days.

[271, 267, 271, 267, 271, 267, 267, 270, 14, 270, 271, 7, 271, 6, 15]

1. symptom:Anosmia 18
2. symptom:Acute bronchitis 17
3. symptom:Ageusia 17
4. symptom:Bronchitis 17
5. symptom:Chills 17
6. symptom:Common cold 17
7. symptom:Cough 17
8. symptom:Dysgeusia 17
9. symptom:Fever 17
10. symptom:Hemoptysis 17
11. symptom:Hypoxemia 17
12. symptom:Low-grade fever 17
13. symptom:Nasal congestion 17
14. symptom:Pneumonia 17
15. symptom:Post-nasal drip 17

Georgia

In [ ]:
%matplotlib inline

import pandas as pd # for using pandas daraframe
import numpy as np # for som math operations
from sklearn.preprocessing import StandardScaler # for standardizing the Data

import matplotlib.pyplot as plt # for plotting
from scipy import stats

In [ ]:
googledata1 = pd.read_csv('/content/Weekly_United_States_COVID-19_Cases_and_Deaths_by_State.csv')
#googledata1['Date'] = pd.to_datetime(googledata1['Date'])
df2 = googledata1
cdc_d = df2[df2["state"] == 'GA']

cdc_d['Date'] = pd.to_datetime(cdc_d['start_date']) # tweets_df['Time'] = pd.to_datetime(tweets_df['Time'])

# Getting week value

cdc_d['Week'] = cdc_d['Date'].dt.isocalendar().week # Convert date to week and add a column Week.
cdc_d['Year'] = cdc_d['Date'].dt.isocalendar().year # Convert date to year and add a column Year.

cdc_d = cdc_d[((cdc_d["Year"] == 2021))]

display(cdc_d)

In [ ]:
display(cdc_d)

In [ ]:
#dft = cdc_d[::-1]
#display(dft)

dfn1 = pd.DataFrame()
l=[]

for count, column in enumerate(cdc_d):    
    # Select column contents by column
    # name using [] operator
    if(count>3)and(count<8):
      columnSeriesObj = cdc_d[column]
      columnSeriesObj[np.isnan(columnSeriesObj)] = 0
      dfn1.insert(count-4, column, columnSeriesObj.tolist(), True)
      l.append(columnSeriesObj.tolist())
      #print('Column Name : ', column)
      #print('Column Contents : ', columnSeriesObj.values)

X1 = dfn1.values # getting all values as a matrix of dataframe 
sc = StandardScaler() # creating a StandardScaler object
X_std1 = sc.fit_transform(X1) # standardizing the data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [ ]:
display(dfn1)

In [ ]:
sym_2021 = pd.read_csv('/content/2021_sub_region_1_daily_2021_US_Georgia_daily_symptoms_dataset.csv')
sym_2022 = pd.read_csv('/content/2022_sub_region_1_daily_2022_US_Georgia_daily_symptoms_dataset.csv')

df3 = sym_2021.append(sym_2022) # Add both sets to make 2018-2019 set.

# Converting values of Data column in datetime

df3['Date'] = pd.to_datetime(df3['date']) # tweets_df['Time'] = pd.to_datetime(tweets_df['Time'])

# Getting week value

df3['Week'] = df3['Date'].dt.isocalendar().week # Convert date to week and add a column Week.
df3['Year'] = df3['Date'].dt.isocalendar().year # Convert date to year and add a column Year.

df3 = df3[(((df3["sub_region_1"] == 'Georgia') & (df3["Year"] == 2021)))]

df3 = df3.resample('1W', on='Date').mean().reset_index()
display(df3)

In [ ]:
dfn = pd.DataFrame()
for count, column in enumerate(df3):    
    # Select column contents by column
    # name using [] operator
    if(count>2):
      columnSeriesObj = df3[column]
      columnSeriesObj[np.isnan(columnSeriesObj)] = 0
      dfn.insert(count-3, column, columnSeriesObj.tolist(), True)
      l.append(columnSeriesObj.tolist())
      #print('Column Name : ', column)
      #print('Column Contents : ', columnSeriesObj.values)

X = dfn.values # getting all values as a matrix of dataframe 
sc = StandardScaler() # creating a StandardScaler object
X_std = sc.fit_transform(X) # standardizing the data

In [ ]:
dfn

In [ ]:
sym_2021 = pd.read_csv('/content/2021_sub_region_1_daily_2021_US_Alabama_daily_symptoms_dataset.csv')
sym_2022 = pd.read_csv('/content/2022_sub_region_1_daily_2022_US_Alabama_daily_symptoms_dataset (1).csv')

df3 = sym_2021.append(sym_2022) # Add both sets to make 2018-2019 set.

# Converting values of Data column in datetime

df3['Date'] = pd.to_datetime(df3['date']) # tweets_df['Time'] = pd.to_datetime(tweets_df['Time'])

# Getting week value

df3['Week'] = df3['Date'].dt.isocalendar().week # Convert date to week and add a column Week.
df3['Year'] = df3['Date'].dt.isocalendar().year # Convert date to year and add a column Year.

df3 = df3[(((df3["sub_region_1"] == 'Alabama') & (df3["Year"] == 2021)))]

df3 = df3.resample('1W', on='Date').mean().reset_index()

dfn = pd.DataFrame()
for count, column in enumerate(df3):    
    # Select column contents by column
    # name using [] operator
    if(count>2):
      columnSeriesObj = df3[column]
      columnSeriesObj[np.isnan(columnSeriesObj)] = 0
      dfn.insert(count-3, column, columnSeriesObj.tolist(), True)
      l.append(columnSeriesObj.tolist())
      #print('Column Name : ', column)
      #print('Column Contents : ', columnSeriesObj.values)

X = dfn.values # getting all values as a matrix of dataframe 
sc = StandardScaler() # creating a StandardScaler object
X_std = sc.fit_transform(X) # standardizing the data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3249: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  if (await self.run_code(code, result,  async_=asy)):

Convert to bit string

In [ ]:
import numpy as np
    
class Bit_map:

    def __init__(self, reduced_size, inp_size, rng: np.random.RandomState = np.random.RandomState(0)):
        self.reduced_size = reduced_size
        self.inp_size = inp_size

        # take random normal vectors for projection

        self.normals = rng.randn(self.reduced_size, inp_size) 
        
    def generate(self, inp_vector):

        # self.normals.T = create delta normal vectors
        # Take dot product of input vector with each of these normal vectors.
        # If vector and normal on same side, then Binary = 1 else 0

        binary = (np.dot(inp_vector, self.normals.T) > 0).astype('int')
        return binary #''.join(bools.astype('str'))
       
ht = Bit_map(reduced_size=30, inp_size=52)

In [ ]:
sp2 = ht.generate(X_std1[:,1])
score = []
h_l =[]

for i in range(420):
  h_p=[]
  h_p.append(ht.generate(X_std[:,i]))
  h_l.append(h_p)
  
for i in range(420):
    sp1 = h_l[i] # Symptom data
    a =[i for i, j in zip(sp1[0], sp2) if i == j];
    score.append(len(a)) # How many bits are matching!

top_k = sorted(range(len(score)), key=lambda i: score[i], reverse=True)[:15]
top_k

In [ ]:
top_k = sorted(range(len(score)), key=lambda i: score[i], reverse=True)[:15]
top_k

[63, 349, 73, 158, 249, 273, 18, 23, 127, 140, 167, 112, 132, 215, 250]

In [ ]:
for i,c in enumerate(top_k): #for ele in enumerate(l1):
  print(i,dfn.columns[c],score[c])

0 symptom:Burning Chest Pain 27
1 symptom:Shortness of breath 26
2 symptom:Chest pain 25
3 symptom:Globus pharyngis 25
4 symptom:Middle back pain 25
5 symptom:Night sweats 25
6 symptom:Anosmia 24
7 symptom:Arthralgia 24
8 symptom:Erectile dysfunction 24
9 symptom:Fever 24
10 symptom:Headache 24
11 symptom:Dysgeusia 23
12 symptom:Eye pain 23
13 symptom:Indigestion 23
14 symptom:Migraine 23

Symptom

In [ ]:
score = []
h_l =[]

for i in range(420):
  h_p=[]
  h_p.append(ht.generate(X_std[:,i]))
  h_l.append(h_p)
  
for i in range(420):
    sp1 = h_l[i] # Symptom data
    a =[i for i, j in zip(sp1[0], sp2) if i == j];
    score.append(len(a)) # How many bits are matching!

In [ ]:
top_k = sorted(range(len(score)), key=lambda i: score[i], reverse=True)[:15]
top_k

[74, 73, 127, 273, 349, 359, 112, 140, 210, 347, 5, 54, 132, 151, 167]

In [ ]:
corr_t =[]
valuesi = []
sim = [63, 349, 73, 158, 249, 273, 18, 23, 127, 140, 167, 112, 132, 215, 250] # Coluns from top correlated data.
zp = []


for j in sim:

  a = X_std1[:,0]
  b = X_std[:,j]

  colin = [] 
  z = 52
  for t in range(z): # vary t' from 1 to 34

    if(t>1) and (t<z+1):
      symp_a = b[:(z+1-(t))]
      ili_a  = a[t-1:z+1]
      res = stats.pearsonr(ili_a, np.nan_to_num(symp_a))
      colin.append(res) # Append all possible correlation for varying t
    
  arr1 = np.array(colin)
  zil = arr1.argmax(axis=0)
  zp.append(zil[0])
  
  corr_t.append(colin)

In [ ]:


corr_t =[]
valuesi = []
sim = [63, 349, 73, 158, 249, 273, 18, 23, 127, 140, 167, 112, 132, 215, 250] # Coluns from top correlated data.
zp = []


for j in sim:

  a = X_std1[:,0]
  b = X_std[:,j]

  colin = [] 
  z = 52
  for t in range(z): # vary t' from 1 to 34

    if(t>1) and (t<z+1):
      symp_a = b[:(z+1-(t))]
      ili_a  = a[t-1:z+1]
      res = stats.pearsonr(ili_a, np.nan_to_num(symp_a))
      colin.append(res) # Append all possible correlation for varying t
    
  arr1 = np.array(colin)
  zil = arr1.argmax(axis=0)
  zp.append(zil[0])
  
  corr_t.append(colin)

In [ ]:
for count,k in enumerate(zp):
  print(count,k)

0 47
1 47
2 49
3 49
4 49
5 47
6 5
7 47
8 49
9 5
10 15
11 11
12 14
13 49
14 44

In [ ]:
for count,k in enumerate(zp):
  print(count,k)

0 49
1 13
2 49
3 49
4 49
5 47
6 10
7 47
8 49
9 15
10 15
11 14
12 48
13 49
14 47